<div th:fragment="footer">
    <footer class="bg-dark text-white pt-4 pb-3">
        <div class="container">
            <div class="row">
                <p class="mb-0 col-6">
                    <a class="text-decoration-none text-light" href="/"><strong>Job4j Cinema</strong></a>
                </p>
                <p class="mb-0 col-6 text-end">
                    Created by
                    <a href="https://github.com/Krasobas" class="text-decoration-none text-light">Vasiliy Krasov</a>
                    at school
                    <a href="https://job4j.ru" class="text-decoration-none text-light">Job4j</a>
                </p>
            </div>
        </div>
    </footer>
</div>
